{% extends "index.html" -%}
{% block content -%}
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to Tea'mup!</h2>
									</header>
									<div id="error"></div>
									<div id="googleMap" style="width:100%;height:400px;"></div>

                                    <a href="/create" class="button alt">Start a Tea'mup</a>
                                    <a href="/find" class="button alt">Find a local Tea'mup</a>
								</section>
							</div>
						</div>







    </div>
    <script>
	navigator.geolocation.getCurrentPosition();
    var x = document.getElementById("error");

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

	function showPosition()
	{
    alert( "Latitude: " + position.coords.latitude + "Longitude: " + position.coords.longitude);
    }



    function myMap() {
    var mapProp= {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:12,
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({
      icon:"images/favicon.png",
      map:map,
        position:new google.maps.LatLng(51.508742,-0.120850),
        animation:google.maps.Animation.DROP
    });
    }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaPxXChkUkKJ_VlY66oS2EDwB7aAyv02g&callback=myMap"
    async defer></script>

{%- endblock content %}
