{% extends "index.html" -%}
{% block content -%}
<section>
                    <header class="major">
                        <h2>Edit the event</h2>
                        <h3>Map goes here!</h3>
                    </header>


                    // Todo populate

                          <form method="post" >
                        Location <input name="Location" type="text"> <br/>
                        Time<input name="Time" type="time"><br/>
                        Description <textarea name="Description"><br/>
                    </form>
                    <a href="next.html" class="button alt">Next</a>
                </section>


                    <a href="#" class="button alt">Done</a>
                </section>
{%- endblock content %}
